.catalog {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title {
  font-family: 'Spartan-Medium', sans-serif;
  font-size: 1rem;
  margin-bottom: 0;
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-family: 'Spartan-Light', sans-serif;
  font-size: 1rem;
  margin: 16px 32px 0;
  text-align: center;
}

.products {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(max(180px, 25%), 1fr));
  justify-items: center;
  padding: 64px 0;
  row-gap: 64px;
  width: 100%;
}
