.catalog {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1200px;
}

.title {
  font-family: 'Spartan-Medium', sans-serif;
  font-size: 0.8rem;
  margin-bottom: 0;
  margin-top: 32px;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-family: 'Spartan-Light', sans-serif;
  font-size: 0.8rem;
  margin: 8px 16px 0;
  text-align: center;
}

.products {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(max(180px, 25%), 1fr));
  justify-items: center;
  padding: 48px 0;
  row-gap: 64px;
  width: 100%;
}

@media (min-width: 600px) {
  .title,
  .description {
    font-size: 1rem;
  }

  .title {
    margin-top: 64px;
  }

  .description {
    margin: 16px 32px 0;
  }

  .products {
    padding: 64px 0;
  }
}
