.product {
  appearance: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
  text-decoration: none;
  width: 100%;
}

.image {
  background-color: #dadada75;
  height: auto;
  width: 100%;
}

.info {
  margin-top: 28px;
}

.brand,
.model,
.price,
.sold-out {
  margin: 0 0 8px;
}

.brand {
  font-family: 'Spartan-Bold', sans-serif;
  font-size: 0.7rem;
  text-transform: uppercase;
}

.price,
.model,
.sold-out {
  font-size: 0.9rem;
}

.sold-out {
  color: #666;
  font-family: 'Spartan-Bold', sans-serif;
}

.price {
  color: #ff6000;
  font-family: 'Spartan-Bold', sans-serif;
}
